<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BandAide.WinForms.Properties.Settings.BandAideConnectionString"
            connectionString="Data Source=mylearningdbserver.database.windows.net;Initial Catalog=BandAide;Persist Security Info=True;User ID=brgoza;Password=ab3l!nc0Ln"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>